#controls-container {
    width:250px;
    float:left;
}
#user-container {

}
#camplist-container {

}
#campaign-container {
    margin-left: 260px;
}

#hintbox {
    z-index:10;
    background:white;
    position:absolute;
    left:100px;
    top:100px;
    display:none;
}

