body {
    font-family: sans-serif;
    background: black;
    color: #ddd;
}
button {
    color: #ddd;
    background: #421;
    border: 1px solid #877;
    font-size: 18px;
}
input, textarea{
    background: #333;
    color: white;
    padding: 5px;
    font-size: 20px;
}
textarea {
    font-size: 16px;
    height: 70px;
}

h2 {
    margin: 0px;
}
#controls-container {
    width:230px;
    float:left;
    margin: 0px;
    padding: 0px;
}

/****************** User ****************/
#user-container {
    padding: 10px;
    margin: 0 10px 10px 10px;
}



/****************** Campaign List ****************/
#camplist-container {
    padding: 10px;
    margin: 10px;
}
.camps-camp {
    display:block;
    width: 100%;
}


/****************** Campaign ****************/

#campaign-container {
    margin-left: 250px;
   /* margin-right:100px;*/
    margin-top: 30px;
    padding: 10px;
    max-width: 800px;
}

#campaign-addto-container {
    display:inline-block;
    margin-left: 10px;
    margin-right: 10px;
}


.campaign-author-credit {
    text-align: right;
}


/************** From Campaign Editor*****/
.campaign-arrayfield-item {
    margin: 5px;
    padding: 5px;
    border: 1px solid #555;
    color: white;
    font-size:18px;
}
.campaign-arrayfield-item-delete {
    text-align: right;
    color:red;
    display:inline-block;
    float:right;
}
.hintlink {
    color: blue;
}
input {
    width: 100%;
}
textarea {
    width: 100%;
}
/****************************/

#hintbox {
    border:3px solid blue;
    width:50%;
    padding: 5%px;
    z-index:10;
    background:white;
    position:fixed;
    left:100px;
    top:100px;
    display:none;
}

#savebox {
    z-index:10;
    position:fixed;
    left:0px;
    top:0px;
    width:95%;
    margin: 0px;
    padding: 30px;
    background:white;
    display:none;
}
#savebox-controls {
    text-align: right;
}
#savebox-content {
}


